{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}

<div class="example-wrapper">
    
    <h1>My Tasks</h1>
    
    <h2>My exams to submit</h2>
    
    {% for exam in myexams %}    
        <table>
            <tr><td>date</td><td>Description</td><td>Deadline</td><td>Task</td><tr>
            <tr><td>{{exam.date}}</td><td>{{exam.description}}</td><td>{{exam.extern_dl}}</td><td><a href="{{ path('submit', {'exam_id': exam.exam_id }) }}">Submit</a></td></tr>
        </table>
    {% endfor %}
    
    <h2>Exams to vet</h2>
    
    {% for exam in examstovet %}    
        <table>
            <tr><td>date</td><td>Description</td><td>Deadline</td><td>Task</td><tr>
            <tr><td>{{exam.date}}</td><td>{{exam.description}}</td><td>{{exam.extern_dl}}</td><td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}">Vet</a></td></tr>
        </table>
    {% endfor %}
    
    <h1>In Progress</h1>
    <h2>My submissions</h2>
    
    {% for exam in myoldsub %}    
        <table>
            <tr><td>date</td><td>Title</td><td>Total</td><td>Validations</td><td>Not validated</td><td>Deadline</td><td>Task</td><tr>
            <tr><td>{{exam.date}}</td><td>{{exam.title}}</td><td>{{totalvetted[0].nb + totalnonvetted[0].nb}} / {{totalvalidations[0].nb}}</td><td>{{totalvetted[0].nb}} / {{totalvalidations[0].nb}}</td><td>{{totalnonvetted[0].nb}} / {{totalvalidations[0].nb}}</td><td>{{exam.extern_dl}}</td><td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}">See</a> / <a href="{{ path('owner_validation', {'exam_id': exam.exam_id }) }}">Validate</a></td></tr>
        </table>
    {% endfor %}
    
    <h2>Vetted</h2>
    
    {% for exam in myvetted %}    
        <table>
            <tr><td>date</td><td>Title</td><td>Status</td><td>Deadline</td><td>Task</td><tr>
            <tr><td>{{exam.date}}</td><td>{{exam.title}}</td><td>{{exam.exam_status}}</td><td>{{exam.extern_dl}}</td><td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}">See</a></td></tr>
        </table>
    {% endfor %}
        
    <h2>Desapproved</h2>
    
    {% for exam in mynonvetted %}    
        <table>
            <tr><td>date</td><td>Title</td><td>Status</td><td>Deadline</td><td>Task</td><tr>
            <tr><td>{{exam.date}}</td><td>{{exam.title}}</td><td>{{exam.exam_status}}</td><td>{{exam.extern_dl}}</td><td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}">See</a></td></tr>
        </table>
    {% endfor %}

</div>
{% endblock %}
