{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}

<div class="example-wrapper">
    
    <h1>My Tasks</h1>
    
    <h2>My exams to submit</h2>
    
        <table>
            <tr><td>date</td><td>Description</td><td>Deadline</td><tr>
            {% for exam in myexams %}
                <tr><td>{{exam.date}}</td><td>{{exam.description}}</td><td>{{exam.extern_dl}}</td></tr>
            {% endfor %}
        </table>
    
    <h2>Exams to vet</h2>
    
    <table><tr><td>date</td><td>Description</td><td>Deadline</td><tr></table>
    
    <h1>In Progress</h1>
    <h2>My submissions</h2>
    
    <table>
            <tr><td>date</td><td>Title</td><td>Validations</td><td>No valid</td><td>Deadline</td><tr>
            {% for exa in myoldsub %}
                <tr><td>{{exa.date}}</td><td>{{exa.title}}</td><td></td><td></td><td>{{exa.extern_dl}}</td></tr>
            {% endfor %}
    </table>
    
    <h2>Vetted</h2>
    
    <table><tr><td>date</td><td>Title</td><td>Validations</td><td>No valid</td><td>Deadline</td><tr></table>
        
    <h2>Desapproved</h2>
    
    <table><tr><td>date</td><td>Title</td><td>Validations</td><td>No valid</td><td>Deadline</td><tr></table>

</div>
{% endblock %}
