{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}
    
<div class="p-2 mb-2 text-right">
    {% if currentuser.hod == 1 %}
        As a head of department, you can ask for an exam or see exams in progress in your department. 
        <a href="{{ path('asking_task') }}" class="btn btn-info">Ask for an exam</a>
        <a href="{{ path('in_progress') }}" class="btn btn-info">See exams in progress</a>
    {% endif %}
    <a href="{{ path('parameters') }}" class="btn btn-dark">Parameters</a>
</div>

<div class='container bg-light'>
    
    <br/>
    <h2 class="p-2 mb-2 bg-info text-center">My Tasks</h2>
    <div class='container'>
    <h3>My exams to submit</h3>
    <br/>
    {% for exam in myexams %}    
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date (y-m-d)</th>
                    <th>Asker</th>
                    <th>Description</th>
                    <th>Deadline (y-m-d)</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tr class="table-warning">
                <td>{{exam.date}}</td>
                <td>
                    {% for user in users %}
                        {% if user.getUserId == exam.secr_user_id %}
                            {{user.firstname}} {{user.name}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{exam.description}}</td>
                <td>{{exam.deadline}}</td>
                <td><a href="{{ path('submit', {'exam_id': exam.exam_id }) }}" class="btn btn-info">Submit</a></td>
            </tr>
        </table>
        <br/>
    {% endfor %}
    
    <h3>Exams to vet</h3>
    <br/>
    {% for exam in examstovet %}    
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Submitter</th>
                    <th>Submission (y-m-d)</th>
                    <th>Title</th>
                    <th>Deadline (y-m-d)</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tr class="table-warning">
                <td>
                    {% for user in users %}
                        {% if user.getUserId == exam.user_id %}
                            {{user.firstname}} {{user.name}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{exam.date_of_submit}}</td>
                <td>{{exam.title}}</td>
                <td>{{exam.deadline}}</td>
                <td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}" class="btn btn-info">Vet</a></td>
            </tr>
        </table>
        <br/>
    {% endfor %}
    </div>
    <h2 class="p-2 mb-2 bg-info text-center">In Progress</h2>
    <div class='container'>
    <h3>My submissions</h3>
    <br/>
    {% for exam in myoldsub %}    
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Submission (y-m-d)</th>
                    <th>Title</th>
                    <th>Total</th>
                    <th>Validated</th>
                    <th>Not validated</th>
                    <th>Deadline (y-m-d)</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tr class="table-warning">
                <td>{{exam.date_of_submit}}</td>
                <td>{{exam.title}}</td>
                <td>{{totalvetted[exam.exam_id] + totalnonvetted[exam.exam_id]}} / {{totalvalidations[exam.exam_id]}}</td>
                <td>{{totalvetted[exam.exam_id]}} / {{totalvalidations[exam.exam_id]}}</td>
                <td>{{totalnonvetted[exam.exam_id]}} / {{totalvalidations[exam.exam_id]}}</td>
                <td>{{exam.deadline}}</td>
                <td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}" class="btn btn-info">See</a><a href="{{ path('owner_validation', {'exam_id': exam.exam_id }) }}" class="btn btn-info">Validate</a></td>
            </tr>
        </table>
        <br/>
    {% endfor %}
    
    <h3>My vets</h3>
    <br/>
    {% for exam in myvets %}    
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Submitter</th>
                    <th>Submission (y-m-d)</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Deadline (y-m-d)</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tr class="table-warning">
                <td>
                    {% for user in users %}
                        {% if user.getUserId == exam.user_id %}
                            {{user.firstname}} {{user.name}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{exam.date_of_submit}}</td>
                <td>{{exam.title}}</td>
                <td>
                    {% if exam.exam_status == 1 %}
                        Waiting for intern. valid.
                        {% elseif exam.exam_status == 2 %}
                            Waiting for ext. valid.
                            {% else %}
                                Vetted
                    {% endif %}
                </td>
                <td>{{exam.deadline}}</td>
                <td><a href="{{ path('exam_view', {'exam_id': exam.exam_id }) }}" class="btn btn-info">See</a></td>
            </tr>
        </table>
        <br/>
    {% endfor %}
    </div>
</div>
{% endblock %}
