{% extends 'base.html.twig' %}

{% block title %}Parameters{% endblock %}

{% block body %}
<div class="container bg-light">
    <br/>
    <h2 class="p-2 mb-2 bg-info text-center">Change your password</h2>
    <div class="container">
        <div class="text-right">
            <a href="{{ path('redirect') }}" class="btn btn-dark">Back to Home</a>
        </div>
        <div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <br/>
        <ul>
            <li>Firstname: {{ user.firstname }}</li>
            <li>Name: {{user.name }}</li>
            <li>Email: {{ user.mail }}</li>
            {% if user.hod %}
            <li>Head of department</li>
            {% endif %}
        </ul>
    </div>
    <br/>
</div>
{% endblock %}

