{% extends 'base.html.twig' %}

{% block title %}Validate Step{% endblock %}

{% block body %}

<div class="container bg-light">
    <br/>
    <h2 class="p-2 mb-2 bg-info text-center">Upload a new file</h2>
    <div class="text-right">
            <a href="{{ path('redirect') }}" class="btn btn-dark">Back to Home</a>
        </div>
        <br/>
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_row(form.file) }}
        {{ form_end(form) }}
    </div>
    <br/>
</div>
{% endblock %}
