{% extends 'base.html.twig' %}

{% block title %}Add a department{% endblock %}

{% block nav %}    
<nav class="navbar navbar-light" style="background-color: #E0E0E0;">
    <p>Hi Admin</p> <a href="{{ path('logout') }}" class="btn btn-dark">Logout</a>
</nav>
{% endblock %}

{% block body %}

<div class="container bg-light">
    <br/>
    <h2 class="p-2 mb-2 bg-info text-center">Add a new department</h2>
    <div class="container">
        <div class="text-right">
            <a href="{{ path('admin_home') }}" class="btn btn-dark">Back to Home</a>
        </div>
        <div class="container">

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

</div>
    </div>
    <h3 class="p-2 mb-2 bg-info text-center">List of departments</h3>
    <div class="container">
        <table>
            {% for dpt in mydepartments %}
                <tr>
                    <td>
                        {{dpt.getdptname}}
                    </td>
                    <td>
                        <a href="{{ path('edit_dpt', {'dpt_id': dpt.getDptId }) }}" class="btn btn-info">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
    </div>
        
</div>
            
{% endblock %}
