{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block nav %}    
<nav class="navbar navbar-light" style="background-color: #E0E0E0;">
    <p>Hi Admin</p> <a href="{{ path('logout') }}" class="btn btn-dark">Logout</a>
</nav>
{% endblock %}

{% block body %}
<div class="container bg-light">
    <br/>
    <h2 class="p-2 mb-2 bg-info text-center">Edit a member</h2>
    <div class="container">
        <div class="text-right">
            <a href="{{ path('admin_home') }}" class="btn btn-dark">Back to Home</a>
        </div>
        <div class="container">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <br/>
        <br/>
        <p>You can reset the password of this user: </p>
        <a href="{{ path('reset_psswrd', {'user_id': userid }) }}" onclick="return confirm('Reset password?')" class="btn btn-warning">Reset Password</a>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}

